body {
  background-color: #faecda;
}
#doktor {
  width: 40vw;
  height: 40vh;
  border: 2 px solid black;
  background-image: url("/doktor_doktor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -90px auto;
}

#backgroundStyle {
  border: 4px double #007bffa2;
  width: fit-content;
  height: fit-content;
  background-color: #7fffd4;
  border-radius: 100%;
  margin: 0px auto 6rem;
  text-align: center;
  padding: 30px 0px;
}
#bubbleBtn {
  /* background-image: url("/SVG/pratbubbla.svg"); */
  position: relative;
  background-repeat: no-repeat;
  width: 10rem;
  /* width: fit-content; */
  /* height: fit-content; */
  height: 12rem;
  width: 12rem;
  /* height: auto; */
  padding: 30px 0px;
  margin: 3rem auto 0px;
  text-align: center;
  top: 1rem;
  background-color: #7fffd4;
  border-radius: 50px 50px 0px 50px;
  margin: 20px;
  border: double 4px rgba(0, 0, 0, 0.458);
}

#lessonBtn {
  color: rgba(0, 0, 0, 0.458);
  background-color: #007bffa2;
  position: absolute;
  margin-top: 20px;
  left: 3rem;
  top: 7rem;
  width: 8rem;
  border-radius: 10%;
  border: double 4px rgba(0, 0, 0, 0.458);
  box-shadow: 0.2rem 0.2rem 0.2rem #007bffa2;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  animation: fadeIn 1s ease-in forwards;
}

#backgroundFlowersRound {
  position: relative;
  background-image: url(/SVG/Rityta\ 1.svg);
  width: 20rem;
  height: 23rem;
  border-radius: 20%;
  margin: auto;
  margin-top: 3rem;
  background-size: cover;
  border: double 4px rgba(0, 0, 0, 0.458);
}

#bubbleP {
  color: rgba(0, 0, 0, 0.458);
  position: absolute;
  /* top: 3rem; */
  /* left: -0.3rem; */
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}
#talkingId {
  position: absolute;
  left: 7rem;
  /* top: 3rem; */
  background-image: url("/doktor_teeth.png");
  background-size: contain;
  height: 10rem;
  width: 15rem;
  background-repeat: no-repeat;
  /* margin: auto; */
}

.talking {
  animation: talking-animation 1.5s infinite;
}

@keyframes talking-animation {
  0% {
    background-image: url(/doktor_smile.png);
  }
  25% {
    background-image: url(/doktor_open.png);
  }
  50% {
    background-image: url(/doktor_smile.png);
  }
  75% {
    background-image: url(/doktor_open.png);
  }
  100% {
    background-image: url(/doktor_smile.png);
  }
}
#drLisa {
  text-align: center;
  color: rgba(0, 123, 255, 0.637);
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  animation: fadeIn 2s ease-in forwards;
}
#welcomeEl {
  margin: 4rem auto 0px;
  height: 100px;
  width: 300px;
  position: relative;
  animation: effect linear infinite;
}

@keyframes effect {
  100% {
    transform: rotate(360deg);
  }
}

span {
  position: absolute;
  text-transform: capitalize;
  color: rgba(0, 123, 255, 0.637);
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #welcomeEl {
    margin: 4rem auto 0px;
    height: 100px;
    width: 300px;
  }
  span {
    font-size: 16px;
  }
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 35rem;
  position: relative;
  /* margin: -5rem auto; */
  margin: 1rem auto;
  background-image: url("/SVG/backgroundFlowers.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px double rgba(0, 0, 0, 0.551);
}

/* Next & previous buttons */
.prev {
  bottom: 18rem;
  margin: 0px 0px 0px 2rem;
  padding: 16px;
  left: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/SVG/left.svg);
  background-repeat: no-repeat;
  border: none;
}

/* Position the "next button" to the right */
.next {
  bottom: 18rem;
  margin: 0px 2rem 0px 0px;
  padding: 16px;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/SVG/rigth.svg);
  background-repeat: no-repeat;
  border: none;
  /* border-radius: 3px 0 0 3px; */
}

#slideText {
  box-sizing: border-box;
  padding: 1.5rem;
  text-overflow: none;
  background-color: #faecdaba;
  position: relative;
  top: 5rem;
  height: fit-content;
  width: 95%;
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  font-size: 18px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  border: double 4px rgba(0, 0, 0, 0.545);
}

#slideH1 {
  font-size: large;
}

#slideImg {
  margin-top: 2rem;
  border: double 4px rgba(0, 0, 0, 0.458);
  width: 10rem;
  height: 10rem;
  /* background-image: url("/doktor_teeth.png"); */
  border-radius: 100%;
  background-color: #7fffd4;
}
#slideImgContainer {
  width: 10rem;
  height: 10rem;
  margin: auto;
}

.numbertext {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  font-size: large;
  color: aquamarine;
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 600;
}
#play {
  position: absolute;
  width: 5rem;
  right: 10px;
  bottom: 10px;
  background-color: #faecdaba;
  color: rgba(0, 0, 0, 0.458);
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  border: double 4px rgba(0, 0, 0, 0.458);
  margin-top: 1rem;
  animation: fadeIn 1s ease-in forwards;
}

.memory-card {
  width: 100px;
  height: 100px;
  /* background-color: #588151b0; */
  background-color: rgba(127, 255, 212, 0.403);
  border: double 4px rgba(0, 0, 0, 0.458);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 5px auto;
  background-image: url("/SVG/backgroundFlowers.svg");
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.flip-card {
  transition: 0.8s;
  transform: rotateY(3.142rad);
}
.memoryBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: 20px auto;
  padding: 20px;
  width: 420px;
  border: double 4px rgba(0, 0, 0, 0.458);
  background-color: rgba(255, 166, 0, 0.075);
  border-radius: 10%;
}

#playAgain {
  position: relative;
  border: double 4px rgba(0, 0, 0, 0.458);
  border-radius: 20%;
  width: 20rem;
  height: 20rem;
  margin: auto;
  text-align: center;
  padding: 20px;
  animation: fadeIn 1s ease-in forwards;
  background-image: url(/SVG/Rityta\ 1.svg);
  background-size: cover;
  margin-top: 2rem;
}
#playAgainBtn {
  position: absolute;
  width: 8rem;
  right: 1.8rem;
  border-radius: 10px;
  background-color: #faecdaba;
  color: rgba(0, 0, 0, 0.458);
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  border: double 4px rgba(0, 0, 0, 0.458);
  margin-top: 4px;

  animation: fadeIn 1s ease-in forwards;
}

#playAgainP {
  text-align: center;
  color: rgba(0, 0, 0, 0.458);
  font-size: 18px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}
#talkingPlayAgainId {
  background-image: url("/doktor_teeth.png");
  background-size: cover;
  background-position: center;
  width: 7rem;
  height: 7rem;
  background-repeat: no-repeat;
  margin: 0 auto;
  float: right;
}

#textPlayAgainBackground {
  position: relative;
  background-color: #7fffd4;
  border-radius: 20%;
  height: 12rem;
  width: 12rem;
  padding: 20px 0px;
  margin: auto;
  border: double 4px rgba(0, 0, 0, 0.458);
  /* text-align: center; */
}

#goodJob {
  position: relative;
  color: rgba(0, 0, 0, 0.458);
  font-size: 25px;
  font-family: "Sniglet", system-ui;
  font-weight: 600;
  /* font-style: normal; */
  text-decoration: underline;
}

.hide {
  display: none;
}
