body {
  background-color: #faecda;
}
#doktor {
  width: 40vw;
  height: 40vh;
  border: 2 px solid black;
  background-image: url("/doktor_doktor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: -90px auto;
}

#backgroundStyle {
  border: 4px double #007bffa2;
  width: fit-content;
  height: fit-content;
  background-color: #7fffd4;
  border-radius: 100%;
  margin: 0px auto 6rem;
}
#bubbleBtn {
  background-image: url("/SVG/pratbubbla.svg");
  position: relative;
  background-repeat: no-repeat;
  width: 15rem;
  height: 15rem;
  padding: 0%;
  margin: 3rem auto 0px;
  text-align: center;
  top: 4rem;
}

#lessonBtn {
  background-color: #007bffa2;
  position: relative;
  right: -1rem;
  bottom: -3rem;
  border-radius: 10%;
  border: solid aquamarine 1px;
  box-shadow: 0.2rem 0.2rem 0.2rem #007bffa2;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#backgroundFlowersRound {
  background-image: url(/public/SVG/Rityta\ 1.svg);
  width: 40rem;
  height: 40rem;
  border-radius: 100%;
  margin: auto;
  background-size: contain;
  border: double 20px aquamarine;
}

#bubbleP {
  padding: 1rem;
  position: relative;
  top: 3rem;
  left: -0.3rem;
  font-size: 15px;
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
}
#talkingId {
  position: relative;
  top: 3rem;
  background-image: url("/doktor_teeth.png");
  background-size: contain;
  height: 15rem;
  width: 20rem;
  background-repeat: no-repeat;
  margin: auto;
}

.talking {
  animation: talking-animation 1.5s infinite;
}

@keyframes talking-animation {
  0% {
    background-image: url(/doktor_smile.png);
  }
  25% {
    background-image: url(/doktor_open.png);
  }
  50% {
    background-image: url(/doktor_smile.png);
  }
  75% {
    background-image: url(/doktor_open.png);
  }
  100% {
    background-image: url(/doktor_smile.png);
  }
}
#drLisa {
  text-align: center;
  color: rgba(0, 123, 255, 0.637);
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  animation: fadeIn 2s ease-in forwards;
}
#welcomeEl {
  margin: 4rem auto 0px;
  height: 100px;
  width: 300px;
  position: relative;
  animation: effect linear infinite;
}

.hide {
  display: none;
}

@keyframes effect {
  100% {
    transform: rotate(360deg);
  }
}

span {
  position: absolute;
  text-transform: capitalize;
  color: rgba(0, 123, 255, 0.637);
  font-size: 20px;
  font-family: "Sniglet", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #welcomeEl {
    margin: 4rem auto 0px;
    height: 100px;
    width: 300px;
  }
  span {
    font-size: 16px;
  }
}

/* Slideshow container */
.slideshow-container {
  width: 80%;
  height: 30rem;
  position: relative;
  margin: -5rem auto;
  background-image: url("/public/SVG/backgroundFlowers.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Next & previous buttons */
.prev {
  bottom: 15rem;
  margin: 0px 0px 0px 2rem;
  padding: 16px;
  left: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/SVG/left.svg);
  background-repeat: no-repeat;
  border: none;
}

/* Position the "next button" to the right */
.next {
  bottom: 15rem;
  margin: 0px 2rem 0px 0px;
  padding: 16px;
  right: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/SVG/rigth.svg);
  background-repeat: no-repeat;
  border: none;
  /* border-radius: 3px 0 0 3px; */
}

#slideText {
  background-color: #faecdaba;
  position: relative;
  top: 5rem;
  height: fit-content;
  width: 80%;
  margin: auto;
  text-align: center;
}

#slideH1 {
  font-size: large;
}

#slideImg {
  border: solid 1px aquamarine;
  width: 10rem;
  height: 10rem;
  /* background-image: url("/doktor_teeth.png"); */
  border-radius: 100%;
  background-color: #7fffd4;
}
#slideImgContainer {
  width: 10rem;
  height: 10rem;
  margin: auto;
}
